@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.book-create {
  background-color: #111;
  font-family: 'League Spartan', sans-serif;
}

label {
  color: #fffaf0;
}



